<div class="container">
    <button class="btn btn-primary" (click)="onAddNewTask()">Add New</button>

    <p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Desc</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
  <tbody>
    <!-- *ngFor="let country of countries; index as i" -->
  <tr *ngFor="let task of tasks; index as i">
    <th scope="row">
        {{ i + 1 }}
    </th>
    <td>
      {{ task.title }}
      <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
      -->
    </td> 
    <td>  {{ task.desc }}</td>
    <td>
        <a class="btn btn-primary mr-2" (click)="onEditTask(task)">Edit</a>
        <a class="btn btn-danger" (click)="onDeleteTask(task.id)">Delete</a>
    </td>
    
  </tr>
  </tbody>
</table>
</div>