<div class="modal-content">
    <p *ngIf="task.id === 0">Add new task</p>
    <p *ngIf="task.id > 0">Edit</p>
    <div class="form-group">
        <input [(ngModel)]="task.title" class="form-control" type="text" placeholder="taskname">
    </div>
    <div class="form-group">
        <input [(ngModel)]="task.desc" class="form-control" type="text" placeholder="taskname">
    </div>
    <button class="btn btn-primary" *ngIf="task.id === 0" (click)="onAddTask()">Add</button>
    <button class="btn btn-primary" *ngIf="task.id > 0" (click)="onEditTask()">Edit</button>
    &nbsp;<button class="btn btn-danger" (click)="BsModalRef.hide()">cancel</button>


</div>